<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js"></script>
	<script src="https://code.angularjs.org/1.2.16/angular-sanitize.min.js"></script>

	<!-- Bootstrap core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="css/navbar.css" rel="stylesheet">

</head>

<body ng-app="">

<script>
	function Ctrl ( $scope ,$q) {
		var  socket, websocket = function (){

			var socket = io.connect('http://'+document.domain+':9998');

			socket.on('welcome', function (data) {
				console.log(data);
			});

			socket.on('connect', function (data) {
				console.log('SOCKET_CONNECT');
			});

			socket.on('message', function (message) {
				console.log(message);
			})

			return socket
		}

		socket = websocket();

		function append(string){
			$scope.string += "\r\n"+string

		}

		function  send( eventType , data ) {

			var callback = typeof (arguments[0]) == 'object'?'noEventType':eventType;

			if(typeof (arguments[0]) == 'object'){
				data = arguments[0]
				data.promise = callback;

				socket.send( JSON.stringify ( data ))
			}else{
				//if data is empty
				data = typeof (arguments[1]) == "undefined"?{}:data
				data.promise = callback;
				var msg = typeof(data) == "object" ? JSON.stringify ( data ) : data;
				socket.emit(eventType,msg)
			}

			console.debug ( 'socket.emit('+callback+')',data );
		}



		$scope.val = "";
		$scope.string = ""

		$scope.text = {}

		$scope.submit = function(){
			$scope.string = JSON.stringify($scope.val)
			var data;
			if($scope.val[0] != '{' && $scope.val[$scope.val.length - 1] != '}'){
				data = {data:$scope.val};
			}else{
				try{
					data = JSON.parse($scope.val);
				}catch (e){
					console.log(e)
				}
			}

			return $scope.eventType?send($scope.eventType,data):send(data)

		}

	}
</script>

<div class="container"  ng-controller="Ctrl">

	<form name="testForm" ng-submit="submit()">
		<input  class="form-control" type="text" name="eventType" data-ng-model="eventType" placeholder="eventType" />
		<br>
		<textarea class="form-control" rows="20" ng-model="val">message</textarea>
		<br><br>
		<button type="submit" class="btn btn-primary pull-right">Submit</button>
	</form>
	<br><br>
	<br><br>

	<div class="well" data-ng-bind="string"></div>
</div>
</body>
</html>
